@font-face {
    font-family: 'Jost Light';
    src: local('/fonts/Jost Light'), local('/fonts/Jost-Light'),
    url('/fonts/Jost-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jost Medium';
    src: local('/fonts/Jost Medium'), local('/fonts/Jost-Medium'),
    url('/fonts/Jost-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
