<template>
    <div class="card-wrapper">
        <div class="card__item" :class="{paired : paired, flipped : flipped}">
            <div class="card__item-front">
                <img class="card__item-image" :src="`../../public/img/${value}.jpg`" alt="">
            </div>
            <div class="card__item-back">
                <img src="/public/img/card-pattern-2.jpg" alt="Card">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Card",
        props: {
            value: Number,
            flipped: Boolean,
            paired: Boolean
        }
    }
</script>

<style scoped>

</style>