<template>
    <div class="game-top">
        <h1 class="game__header">Brain train game</h1>
        <p class="game__description text-center">Train your memory</p>
    </div>
    <div class="controls d-flex flex-row mb-4">
        <label for="difficulty"></label>
        <select @change="setDifficulty" v-model="selectedDifficulty" name="difficulty" id="difficulty" class="me-2">
            <option :value=0 disabled selected>Choose difficulty</option>
            <option v-for="difficulty in difficultyArr" :value=difficulty.value>{{difficulty.name}}</option>
        </select>
        <button v-if="selectedDifficulty !== 0" @click="resetSettings" class="button btn btn-dark">Reset</button>
    </div>
    <div class="cards">
        <Card @click="cardFlip(card)"
              v-for="card in cardsArr"
              :value="card.value"
              :paired="card.paired"
              :flipped="card.flipped"></Card>
    </div>
    <div v-if="cardsToPair === 0" class="congrats-modal">
        <h2>Congrats, you won!</h2>
        <button @click="resetSettings" class="button btn btn-dark d-flex mt-4 ms-auto me-auto">Start new game</button>
    </div>
    <div v-if="cardsToPair === 0" class="congrats-backdrop"></div>
</template>

<script>
    import _ from "lodash"
    import Card from "./Card.vue";

    export default {
        name: "GameBody",
        data() {
            return {
                selectedCards: [],
                selectedDifficulty: 0,
                difficultyArr: [
                    {key: 1, value: 3, name: 'Easy'},
                    {key: 2, value: 5, name: 'Medium'},
                    {key: 3, value: 7, name: 'Hard'}
                ],
                cardsToPair: Number,
                cardsArr: [],
                cardFlipped: false
            }
        },
        methods: {
            setDifficulty() {
                this.cardsArr = []
                for (let i = 0; i <= this.selectedDifficulty; i++) {
                    this.cardsArr.push({
                        value: i,
                        flipped: false,
                        paired: false
                    })
                    this.cardsArr.push({
                        value: i,
                        flipped: false,
                        paired: false
                    })
                }
                this.cardsToPair = this.selectedDifficulty + 1;
                this.mixCards()
            },
            resetSettings() {
                this.selectedDifficulty = 0
                this.cardsArr.length = 0
                this.cardsToPair = null
                this.mixCards()
            },
            cardFlip(card) {
                if ((card.flipped === false) && (this.selectedCards.length < 2)) {
                    card.flipped = true
                    this.selectedCards.push(card)
                }
            },

            mixCards() {
                this.cardsArr = _.shuffle(this.cardsArr)
            }

        },
        watch: {
            selectedCards: {
                handler(cards) {
                    let first = cards[0]
                    let second = cards[1]
                    if (cards.length === 2) {
                        if (second.value !== first.value) {
                            this.selectedCards.length = 2
                            setTimeout(() => {
                                first.flipped = false
                                second.flipped = false
                                this.selectedCards.length = 0
                            }, 1500)
                        } else {
                            first.paired = true
                            second.paired = true
                            this.cardsToPair--
                            this.selectedCards.length = 0
                        }
                    }
                },
                deep: true
            }
        },
        components: {
            Card
        }
    }
</script>

<style scoped>

</style>