body {
    background-color: #f5f5f5;
    color: #222225;
}

body.dark {
    background-color: #222225;
    color: #f5f5f5;
}

.container {
    display: flex;
    margin: auto;
    width: 1320px;
}

/* Media */
