@import 'node_modules/bootstrap/scss/bootstrap';
@import "variables";
@import "../../public/fonts/fonts.css";

body {
  background-color: $main-light;
  color: $main-dark;
  font-family: "Jost Medium", sans-serif;

  .congrats-modal {
    background-color: $main-dark;
    color: $main-light;
  }
}

body.dark {
  background-color: $main-dark;
  color: $main-light;

  .congrats-modal {
    background-color: $main-light;
    color: $main-dark;
  }

  .btn-dark {
    background-color: $main-light;
    color: $main-dark;
  }
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-wrapper {
  width: 23%;
  margin-bottom: 30px;
}

.card__item {
  height: 150px;
  border-radius: 5px;
  border: 1px solid #454545;
  transition: .3s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &.paired {
    border-color: #8AFFB8;
  }

  &.flipped {
    transform: rotateY(180deg);

    .card__item-front {
      opacity: 1;
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 8px 14px rgb(0 0 0 / 7%);
  }
}

.card__item-front {
  opacity: 0;
  position: absolute;
  transition: .3s;
}

.card__item-back, .card__item-front {
  width: 100%;
  height: 100%;
}

.card__item-image {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.congrats-backdrop {
  position: fixed;
  z-index: 98;
  background: rgba(8, 28, 42, .2);
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
}

.congrats-modal {
  position: absolute;
  max-width: 350px;
  padding: 20px;
  border-radius: 5px;
  z-index: 999;

  .btn-dark {
    background-color: $main-light;
    color: $main-dark;
  }
}

@include media-breakpoint-down(md) {
  .card__item {
    height: 100px;
  }
  .card-wrapper {
    width: 45%;
  }
}