<template>
    <div id="mainContainer" class="container d-flex flex-column justify-content-center align-items-center mt-5">
        <div class="form-check form-switch">
            <input @change="modeToggle" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Theme mode: {{mode}}</label>
        </div>
        <GameBody></GameBody>
    </div>
</template>

<script>

    import GameBody from './components/GameBody.vue'

    export default {
        data() {
            return {
                mode: null
            }
        },
        methods: {
            modeToggle() {
                let body = document.body
                if (this.mode === 'light') {
                    this.mode = 'dark'
                    body.classList.add('dark')
                } else {
                    this.mode = 'light'
                    body.classList.remove('dark')
                }
                localStorage.setItem("mode", this.mode);
            },
        },
        mounted() {
            let body = document.body
            if(localStorage.getItem('mode') !== null){
                this.mode = localStorage.getItem('mode')
                body.classList.add(`${this.mode}`)
            }else{
                this.mode = 'light'
            }


        },
        components: {
            GameBody,
        }
    }
</script>

<style>


</style>

